@import './styles/variables';

.app-pdp-page {
    .pdp-page-cnt  {
        &__heading {
            text-align: center;
            font-size: $font-16;
            padding: 24px 0;
            font-weight: 300;
            color: $heading-color;
            background: $white;
        }

        &__details {
            font-weight: 100;
            color: $heading-color;
            display: flex;
            flex-direction: column;

            .product-image {
                background: $white;
                margin-bottom: 10px;
                border-bottom: 1px solid $grey;

                img {
                    max-width: 100%;
                }
            }

            .product-pricing {
                border-top: 1px solid $grey;
                background: $white;
                padding: 20px 30px;

                color: $black;

                &__price {
                    line-height: 34px;
                    font-weight: bold;
                    font-size: $font-20;                    
                }

                p {
                    line-height: 24px;
                }
            }

            .product-information {
                background: $white;
                padding: 15px 30px;
                font-size: $font-14;

                &__product-html {
                    p {
                        line-height: 18px;
                        padding-bottom: 10px;
                    }
                }

                h3 {
                    font-size: $font-18;
                    line-height: 34px;
                }

                h4 {
                    font-size: $font-14;
                    line-height: 24px;
                }

                &__specs-heading{
                    padding: 10px 0;
                    border: 1px solid $grey;
                    border-right: none;
                    border-left: none;
                    margin: 10px 0;
                }

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 10px 0;
                    border-bottom: 1px solid $grey;

                    .key {
                        width: 50%;
                    }
                    
                    .value {
                        width: 50%;
                        text-align: right;
                    }
                }

                .item:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

@media (min-width: $_768) {
    .app-pdp-page {
        .pdp-page-cnt  {
            &__heading {
                background: $heading-bg;
                border-bottom: 1px solid $grey;
            }

            &__details {
                flex-direction: row;
                flex-wrap: wrap;
                background: $white;

                .product-image {
                    width: 65%;
                    margin-bottom: 0;
                    border-bottom: none;
                    order: 1;
                    border-right: 1px solid $grey;
                }
                .product-pricing {
                    flex-basis: calc(35% - 61px);
                    border-top: none;
                    order: 2;
                }
                .product-information {
                    order: 3;
                    width: 63%;
                }
            }
        }
    }
}
