@import './styles/variables';

.psp-page-cnt {
    &__heading {
        text-align: center;
        font-size: $font-24;
        padding: 24px 0;
        font-weight: 300;
        color: $heading-color;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .product-card {
            flex-grow: 1;
            flex-basis: 45%;
            padding: 2%;
            display: flex;
            flex-direction: column;
            background: $white;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);

            a {
                color: inherit;
                text-decoration: none;
            }
            
            &__image {
                img {
                    max-width: 100%;
                }
            }
            &__info {
                h3 {
                    line-height: 24px;
                }
                h6 {
                    line-height: 24px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media (min-width: $_768) {
    .psp-page-cnt {    
        &__list {    
            .product-card {
                flex-grow: 1;
                flex-basis: 28%;
            }
        }
    }    
}

@media (min-width: $_1024) {
    .psp-page-cnt {    
        &__list {    
            .product-card {
                flex-grow: 1;
                flex-basis: 20%;
            }
        }
    }    
}